* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 300px;
  height: 475px;
  margin-top: 20px;
  margin-left: 20px;
}

a {
  display: block;
  text-decoration: none;
  font-size: 2rem;
  color: black;
}

#searchBar {
  text-align: center;
  height: 10vh;
  background: coral;
  color: blue;
}

#searchBar h2 {
  margin-bottom: 10px;
}

#errorMsg {
  display: inline-block;
  margin-left: 10px;
}

#card {
  text-align: center;
  border: 1px solid black;
  display: inline-block;
  margin-right: 20px;
  width: 220px;
}

#movie-container {
  height: 90vh;
  background: gray;
  display: flex;
  color: #fff;
  justify-content: center;
}

#information {
  display: flex;
  flex-direction: column;
}

#movie-container h1 {
  margin-top: 10px;
  margin-left: 20px;
  font-size: 4rem;
}

#movie-container p {
  margin-left: 20px;
  font-size: 1.5rem;
  width: 500px;
  color: black;
}

#movie-container h2 {
  margin-top: 10px;
  margin-left: 20px;
}