* {
  margin: 0;
  padding: 0;
}

img {
  width: 200px;
}

div {
  margin-bottom: 20px;
}

a {
  display: block;
  text-decoration: none;
  margin-bottom: 10px;
  font-size: 2rem;
  color: black;
}

h2 {
  margin-bottom: 10px;
}

#searchBar {
  text-align: center;
  height: 10vh;
  background: coral;
  color: blue;
}

#errorMsg {
  display: inline-block;
  margin-left: 10px;
}

#card {
  text-align: center;
  border: 1px solid black;
  display: inline-block;
  margin-right: 20px;
  width: 220px;
}

#movie-container {
  height: 90vh;
  text-align: center;
}